body {
    font-family: Arial, sans-serif;
}

#total-count {
    font-size: 1.5em;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #bbb;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

#loading {
    font-size: 1.2em;
    color: #555;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}
